{% comment %} {% load static %} {% endcomment %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Core Music App</title>
    {% comment %} <link rel="stylesheet" href="{% static 'core/styles.css' %}" /> {% endcomment %}
  </head>
  <body>
    {% comment %} <div class="home-page">
      <img src="{% static 'core/logo.svg' %}" alt="Logo" class="logo" />
    </div> {% endcomment %}
    <h1>Hello World</h1>
  </body>
</html>